---
import Layout from './Layout.astro'

interface Props {
  error: string
  message: string
}

const { error, message } = Astro.props
---

<Layout title="Error">
  <main class="flex flex-col items-center justify-center">
    <div class="prose text-center">
      <h1>{error}</h1>
      <p>{message}</p>
    </div>
  </main>
</Layout>
