---
import { actions } from 'astro:actions'
import Layout from '@layouts/Layout.astro'
import FiltersForm from '@components/FiltersForm.astro'
import PostLink from '@components/PostLink.astro'

const searchParams = Astro.url.searchParams.entries()
const nonEmptyParams = searchParams.filter(([_, value]) => value !== '')

const data = await Astro.callAction(
  actions.posts.getAll.orThrow,
  Object.fromEntries(nonEmptyParams),
)
---

<Layout title="Admin Blog Management">
  <main class="flex max-w-3xl flex-col items-center gap-8 self-center p-4">
    <h1 class="text-3xl font-bold">Last Posts And Drafts</h1>
    <FiltersForm />
    <section class="flex flex-col gap-2">
      {
        data.length === 0 && (
          <h2 class="text-2xl font-light text-gray-500">
            No posts found. Try adjusting your filters.
          </h2>
        )
      }
      {data.map((post) => <PostLink post={post} />)}
    </section>
  </main>
</Layout>
