---
import { actions } from 'astro:actions'
import Layout from '@layouts/Layout.astro'
import Pencil from '@lucide/astro/icons/pencil'
import FiltersForm from '@components/FiltersForm.astro'

const searchParams = Astro.url.searchParams.entries()
const nonEmptyParams = searchParams.filter(([_, value]) => value !== '')

const data = await Astro.callAction(
  actions.posts.getAll.orThrow,
  Object.fromEntries(nonEmptyParams),
)
---

<Layout title="Admin Blog Management">
  <main class="flex max-w-3xl flex-col items-center gap-8 self-center p-4">
    <h1 class="text-3xl font-bold">Last Posts And Drafts</h1>
    <FiltersForm />
    <section class="flex flex-col gap-2">
      {
        data.length === 0 && (
          <h2 class="text-2xl font-light text-gray-500">
            No posts found. Try adjusting your filters.
          </h2>
        )
      }
      {
        data.map((post) => (
          <article>
            <div class="flex items-center gap-4">
              <h2 class="text-2xl">
                <a href={`/posts/${post.id}`}>{post.title}</a>
              </h2>
              {post.isDraft && (
                <small class="flex gap-2 rounded-full bg-gray-600 px-4 py-2 text-xs text-gray-200">
                  Draft <Pencil stroke-width={1} size={16} />
                </small>
              )}
            </div>
            <time class="text-sm text-zinc-500" datetime={post.createdAt}>
              {post.createdAt}
            </time>
          </article>
        ))
      }
    </section>
  </main>
</Layout>
