---
import { actions } from 'astro:actions'

import LoginIcon from '@lucide/astro/icons/log-in'

import Layout from '@layouts/Layout.astro'
import Input from '@components/Input.astro'
import FormField from '@components/FormField.astro'
import Button from '@components/Button.astro'
import Alert from '@components/Alert.astro'

const result = Astro.getActionResult(actions.user.login)

if (result && !result.error) {
  return Astro.redirect('/')
}
---

<Layout title="Admin Blog Management">
  <main
    class="mx-auto flex flex-col items-center justify-center gap-8 p-8 md:max-w-2xl"
  >
    <div class="prose">
      <h1>Log in</h1>
      <p>
        This app allows the <strong>administrator</strong> to manage the blog's content.
        You're probably looking for
        <a href="https://blog-app-vert-sigma.vercel.app/">
          the blog's main page
        </a>.
      </p>
    </div>
    <form
      method="post"
      action={actions.user.login}
      class="flex flex-col gap-4 self-stretch"
    >
      {result?.error && <Alert>{result.error.message}</Alert>}
      <FormField>
        <label for="username">Username:</label>
        <Input
          type="text"
          id="username"
          name="username"
          placeholder="john_doe_123"
          required
          class="flex-1"
        />
      </FormField>
      <FormField>
        <label for="password">Password:</label>
        <Input
          type="password"
          id="password"
          name="password"
          placeholder="********"
          required
          class="flex-1"
        />
      </FormField>
      <Button type="submit">Login <LoginIcon stroke-width={1} /></Button>
    </form>
  </main>
</Layout>
