---
import { actions } from 'astro:actions'
import Layout from '../layouts/Layout.astro'

export const prerender = false
const result = Astro.getActionResult(actions.login)

if (result && !result.error) {
  return Astro.redirect('/')
}
---

<Layout title="Admin Blog Management">
  <h1>Login</h1>
  <form method="post" action={actions.login}>
    {result?.error && <p>{result.error.message}</p>}
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="john_doe_123"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="********"
      required
    />
    <button type="submit">Login</button>
  </form>
</Layout>
