---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {}

const { class: className, ...props } = Astro.props
---

<button
  {...props}
  class:list={[
    className,
    'flex cursor-pointer items-center justify-center gap-2 rounded bg-gray-900 px-4 py-2 text-gray-100 hover:opacity-75',
  ]}
>
  <slot />
</button>
