---
import type { HTMLAttributes } from 'astro/types'

type Variant = 'primary' | 'secondary'

interface Props extends HTMLAttributes<'button'> {
  variant?: Variant
}

const { class: className, variant = 'primary', ...props } = Astro.props

const VARIANTS: Record<Variant, string> = {
  primary: 'rounded bg-gray-900 px-4 py-2 text-gray-100 hover:opacity-75',
  secondary: 'hover:opacity-50',
}
---

<button
  {...props}
  class:list={[
    className,
    VARIANTS[variant],
    'flex cursor-pointer items-center justify-center gap-2',
  ]}
>
  <slot />
</button>
