---
import LogoutIcon from '@lucide/astro/icons/log-out'
import Button from './Button.astro'
---

<header class="flex items-center justify-between p-4">
  <h2 class="text-2xl font-semibold"><a href="/">Blog Management</a></h2>
  <Button variant="secondary" type="submit" id="logoutBtn">
    Log out <LogoutIcon stroke-width={1} />
  </Button>
</header>

<script>
  import { actions } from 'astro:actions'
  import { navigate } from 'astro:transitions/client'

  const btn = document.querySelector('#logoutBtn')

  btn?.addEventListener('click', async () => {
    await actions.user.logout()
    navigate('/login')
  })
</script>
