---
import LogoutIcon from '@lucide/astro/icons/log-out'
import Newspaper from '@lucide/astro/icons/newspaper'
import Home from '@lucide/astro/icons/house'

import Button from './Button.astro'
import NavLink from './NavLink.astro'
import HideOnMobile from './HideOnMobile.astro'
---

<nav class="flex flex-wrap items-center justify-center gap-4 p-4">
  <NavLink href="/">
    <HideOnMobile>Recent Posts</HideOnMobile>
    <Home stroke-width={1} />
  </NavLink>
  <NavLink href="/new">
    <HideOnMobile>Create a new post</HideOnMobile>
    <Newspaper stroke-width={1} />
  </NavLink>
  <Button variant="secondary" type="submit" id="logoutBtn">
    <HideOnMobile>Log out</HideOnMobile>
    <LogoutIcon stroke-width={1} />
  </Button>
</nav>

<script>
  import { actions } from 'astro:actions'
  import { navigate } from 'astro:transitions/client'

  const btn = document.querySelector('#logoutBtn')

  btn?.addEventListener('click', async () => {
    await actions.user.logout()
    navigate('/login')
  })
</script>
