---
import type { Post } from '@/env'
import Pencil from '@lucide/astro/icons/pencil'

interface Props {
  post: Post
}

const { post } = Astro.props
---

<article>
  <div class="flex items-center gap-4">
    <h2 class="text-2xl">
      <a href={`/posts/${post.id}`}>{post.title}</a>
    </h2>
    {
      post.isDraft && (
        <small class="flex gap-2 rounded-full bg-gray-600 px-4 py-2 text-xs text-gray-200">
          Draft <Pencil stroke-width={1} size={16} />
        </small>
      )
    }
  </div>
  <time class="text-sm text-zinc-500" datetime={post.createdAt}>
    {post.createdAt}
  </time>
</article>
