---
import type { Post } from '@/env'
import DraftTag from './DraftTag.astro'
import Date from './Date.astro'

interface Props {
  post: Post
}

const { post } = Astro.props
---

<article>
  <div class="flex flex-col gap-1">
    <h2 class="text-2xl">
      <a href={`/posts/${post.id}`}>{post.title}</a>
    </h2>
    <div class="flex items-center gap-2">
      <Date date={post.createdAt} />
      {post.isDraft && <DraftTag />}
    </div>
  </div>
</article>
