---
import type { Post } from '@/env'
import DraftTag from './DraftTag.astro'
import Date from './Date.astro'

interface Props {
  post: Post
}

const { post } = Astro.props
---

<article>
  <div class="flex items-center gap-4">
    <h2 class="text-2xl">
      <a href={`/posts/${post.id}`}>{post.title}</a>
    </h2>
    {post.isDraft && <DraftTag />}
  </div>
  <Date date={post.createdAt} />
</article>
